{# purpose of this template: build the form to edit an instance of activity #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKReferenceModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKReferenceModule:js/RKReferenceModule.Validation.js', 98)) }}
    {{ pageAddAsset('javascript', zasset('@RKReferenceModule:js/RKReferenceModule.EditFunctions.js', 99)) }}
    {{ pageAddAsset('javascript', pagevars.homepath ~ 'vendor/twitter/typeahead.js/dist/typeahead.bundle.min.js') }}
{% endblock %}

{% block title mode == 'create' ? __('Create activity') : __('Edit activity') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="rkreferencemodule-activity rkreferencemodule-edit">
{% form_theme form with [
    '@RKReferenceModule/Form/bootstrap_3.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ form_start(form, {attr: {id: 'activityEditForm', class: 'rkreference-edit-form'}}) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Content') }}</legend>
    {{ form_row(form.displayLanguage) }}
    {{ form_row(form.title) }}
    {{ form_row(form.titleImage) }}
    {{ form_row(form.copyrightTitleImage) }}
    {{ form_row(form.referenceImage) }}
    {{ form_row(form.copyrightReferenceImage) }}
    {{ form_row(form.teaserDescription) }}
    {{ form_row(form.activityDescription) }}
    {{ form_row(form.infoField1) }}
    {{ form_row(form.infoField2) }}
    {{ form_row(form.infoField3) }}
    {{ form_row(form.infoField4) }}
    {{ form_row(form.infoField5) }}
</fieldset>

{{ include(
    '@RKReferenceModule/AttachedImage/includeSelectOne.html.twig',
    { group: 'activity', alias: 'activity', aliasReverse: 'attachedImages', mandatory: false, idPrefix: 'refereActivity_Activity', linkingItem: activity, displayMode: 'choices', allowEditing: false }
) }}
{% if mode != 'create' %}
    {{ include('@RKReferenceModule/Helper/includeStandardFieldsEdit.html.twig', { obj: activity }) }}
{% endif %}

{# include display hooks #}
{% set hookId = mode != 'create' ? activity.id : null %}
{% set hooks = notifyDisplayHooks(eventName='rkreferencemodule.ui_hooks.activities.form_edit', id=hookId) %}
{% if hooks is iterable and hooks|length > 0 %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <fieldset>
            {{ hook }}
        </fieldset>
    {% endfor %}
{% endif %}

{% if form.moderationSpecificCreator is defined %}
    <fieldset id="moderationFieldsSection">
        <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
        <div id="moderationFieldsContent">
            {{ form_row(form.moderationSpecificCreator) }}
            {{ form_row(form.moderationSpecificCreationDate) }}
        </div>
    </fieldset>
{% endif %}

{# include return control #}
{% if mode == 'create' %}
    <fieldset>
        <legend>{{ __('Return control') }}</legend>
        {{ form_row(form.repeatCreation) }}
    </fieldset>
{% endif %}

{# include possible submit actions #}
<div class="form-group form-buttons">
    <div class="col-sm-offset-3 col-sm-9">
        {% for action in actions %}
            {{ form_widget(attribute(form, action.id)) }}
        {% endfor %}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set deleteImage = '<span class="fa fa-trash-o"></span>' %}
    
    <script type="text/javascript">
    /* <![CDATA[ */
        
        
        ( function($) {
            $(document).ready(function() {
                // initialise auto completion for user fields
                {% if form.moderationSpecificCreator is defined %}
                    rKReferenceInitUserField('rkreferencemodule_activity_moderationSpecificCreator', 'getCommonUsersList');
                {% endif %}
                rKReferenceInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ activity.id }}{% endif %}');
                rKReferenceInitUploadField('rkreferencemodule_activity_titleImage_titleImage');
                rKReferenceInitUploadField('rkreferencemodule_activity_referenceImage_referenceImage');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
